@tailwind base;
@tailwind components;
@tailwind utilities;
#root {
    margin:auto;
    height: 100%;
    width:100%;
    color:black;
}
table,tr,td,th{
    border: 1px solid black;
}
td,th{
    text-align: center;
}
button{
    background-color:transparent;
}